header>h1{
    text-align: center;
}

.main-container{
    display: flex;
}

.container-item{
    border: 1px solid;
    width: 100%;
    padding: 30px;
    text-align: left;

}

.container-item>h2{
    text-align: center;
}

.container-result{
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 28px;
}

.container-form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: left;
}